.Tortëmeçokollatë{ font-size: 35px;}

.Përbërësit2{color: white;
            font-size: 35px;}

.Përbërësit3{color: white;font-style: italic;
            font-size: 30px;}

.Përgatitja2{font-size: 35px;
            color: darkblue;}

.Përgatitja3{font-style: italic;
            font-size: 30px; 
            color: darkblue;}
            
.Përgatitja4{font-style: italic;
            font-size: 30px;
            color: darkblue;}
